.dashboard--container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dashboard--card {
    width: 40%;
    height: 50%;
    background-color: #191c24;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
}
.dashboard--title {
    color: #FFF;
    text-transform: capitalize;
    font-size: 1.125rem;
    text-align: center;
}
.dashboard--graphic {
    width: 80%;
    height: 70%;
    border: 20px solid #00d25b; /*orange=#f2a654,  yellow=#f6e84e*/
    border-radius: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard--value {
    font-size: 2rem;
}
